/* 전역 변수 */
:root {
  --main-color: #1B1E2B;
  --sub-color: #292D3E;
  --border-color: #71726C;
  --lg-font: 36px;
  --md-font: 24px;
  --basic-font: 18px;
  --sm-font: 14px;
}

/* reset css */
body, header, main, footer, h1, h2, h3, h4, h5, h6, p, ul, li, button, input, label, span {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 10px;
}

h1, h2, h3, h4, h5, h6, p, strong, button, input, label, span, th, td {
  color: #fff;
  font-family: "Monomaniac One";
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

body {
  height: 100%;
}

header {
  width: 100%;
  min-height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  z-index: 1;
}

.wrap .logo {
  width: 164px;
  padding: 18px 25px;
  box-sizing: border-box;
}

main {
  margin-top: 100px;
  background-color: var(--sub-color);
}

main .wrap {
  min-height: calc(100vh - 200px);
}

footer {
  width: 100%;
  min-height: 100px;
  background-color: var(--main-color);
}

.wrap {
  min-height: 100px;
  /* header와 footer의 기본 최소높이 */
  box-sizing: border-box;
  margin: 0 auto;
}

.wrap {
  width: calc(100% - 320px);
}

.wrap.scroll {
  width: calc(100% - 303px);
  /* 스크롤 width 17px 제외시킨 값 */
}