/* !모바일 */

/* !header */
header .wrap {
  display: flex;
}

header .headerWrap {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .headerWrap h1 {
  font-size: 20px;
  font-weight: var(--font-ebw);
}

header .headerWrap .backLink img,
header .headerWrap button img {
  width: 20px;
  aspect-ratio: 1 / 1;
}

/* !header searchWrap */
header .searchWrap {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  max-height: 100px;
  padding: 30px 40px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  background-color: var(--sub-color);
  display: none;
}

header .searchWrap.active {
  display: block;
}

header .searchWrap .searchForm input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border-radius: 0;
  border: 1px solid var(--border-color);
  background-color: var(--sub-color);
  font-size: var(--font-mz);
  font-weight: var(--font-bw);
}

header .searchWrap .searchForm input:focus {
  outline: none;
}

header .searchWrap .searchForm button {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
}

header .searchWrap .searchForm button img {
  width: 20px;
  aspect-ratio: 1 / 1;
}

header .searchListWrap {
  position: relative;
}

header .searchList {
  position: absolute;
  width: 100%;
  max-height: 320px;
  left: 0;
  overflow-y: auto;
}

header .searchList li {
  padding: 10px 20px;
  background-color: var(--main-color);
  border: 1px solid var(--border-color);
  border-top: none;
}

header .searchList li a {
  display: flex;
  align-items: center;
  gap: 20px;
}

header .searchList img {
  width: 30px;
  aspect-ratio: 1 / 1;
}

header .searchList p {
  display: inline-block;
  font-size: var(--font-mz);
}

/* !main */
main {
  position: relative;
  overflow-y: auto;
}

main .wrap {
  display: flex;
  gap: 20px;
}

/* !main section */
main section {
  flex-grow: 1;
}

main section {
  margin: 20px 0;
}

/* !main section monsterWrap */
main section .monsterWrap > div {
  border: 1px solid var(--border-color);
  padding: 30px 20px 20px;
}

main section .monsterWrap > div:not(:last-child) {
  margin-bottom: 20px;
}

main section .monsterWrap > div:not(:first-child) {
  position: relative;
}

main section .monsterWrap h2 {
  font-size: var(--font-smz);
  font-weight: var(--font-ebw);
  background-color: var(--main-color);
  position: absolute;
  top: -5px;
  left: 10px;
  padding: 0 10px;
}

/* !main monsterWrap monsterImgWrap */
main .monsterWrap .monsterImgWrap {
  max-height: 200px;
  padding: 0;
}

main .monsterWrap .monsterImgWrap img {
  width: 100%;
  height: 200px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

/* !main monsterWrap monsterInfoWrap */
main .monsterWrap .monsterInfoWrap ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
}

main .monsterWrap .monsterInfoWrap h3 {
  font-size: var(--font-smz);
  font-weight: var(--font-ebw);
  display: inline-block;
  border-bottom: 1px solid #fff;
  padding-bottom: 2px;
  margin-bottom: 8px;
}

main .monsterWrap .monsterInfoWrap p {
  font-size: var(--font-mz);
  font-weight: var(--font-ebw);
  word-break: keep-all;
}

main .monsterWrap .monsterInfoWrap .detail {
  font-size: var(--font-sz);
  margin-bottom: 4px;
}

/* !main monsterWrap monsterWeakWrap */
main .monsterWrap .monsterWeakWrap strong {
  display: block;
  text-align: right;
  font-size: var(--font-sz);
}

main .monsterWrap .monsterWeakWrap table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

main .monsterWrap .monsterWeakWrap table tr th {
  width: calc(100% / 6);
  padding: 8px 0;
  border: 1px solid var(--border-color);
}

main .monsterWrap .detail table tr th {
  width: calc(100% / 9);
}

main .monsterWrap .detail table tr td {
  width: calc(100% / 9);
}

main .monsterWrap .monsterWeakWrap table tr th img {
  width: 16px;
  aspect-ratio: 1 / 1;
}

main .monsterWrap .monsterWeakWrap table tr td {
  width: calc(100% / 6);
  padding: 8px 0;
  font-size: var(--font-mz);
  font-weight: var(--font-ebw);
  border: 1px solid var(--border-color);
}

/* !main monsterWrap monsterEcoWrap */
main .monsterWrap .monsterEcoWrap p {
  font-size: var(--font-mz);
}

main .monsterWrap .monsterEcoWrap p:not(:last-child) {
  margin-bottom: 12px;
}

main .monsterWrap .monsterRelateWrap ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

main .monsterWrap .monsterRelateWrap img {
  width: 14px;
  height: 14px;
  aspect-ratio: 1 / 1;
  vertical-align: middle;
  margin-right: 4px;
}

main .monsterWrap .monsterRelateWrap a {
  font-size: var(--font-mz);
}

/* !footer */
footer p {
  font-size: var(--font-mz);
  text-align: center;
  line-height: 80px;
}

/* !mediaQuery */
/* 태블릿 */
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* !header headerWrap */
  header .headerWrap h1 {
    font-size: 30px;
  }

  header .headerWrap .backLink img,
  header .headerWrap button img {
    width: 24px;
  }

  /* !header searchWrap */
  header .searchWrap {
    max-height: 120px;
    padding: 30px 120px;
  }

  header .searchWrap .searchForm input {
    font-size: var(--font-mlz);
  }

  header .searchWrap .searchForm button {
    right: 130px;
  }

  header .searchWrap .searchForm button img {
    width: 22px;
  }

  header .searchList {
    max-height: 340px;
  }

  header .searchList li {
    padding: 10px 20px;
    background-color: var(--sub-color);
    border: 1px solid var(--border-color);
    border-top: none;
  }

  header .searchList img {
    width: 40px;
  }

  header .searchList p {
    font-size: var(--font-mlz);
  }

  /* !main section monsterWrap */
  main section .monsterWrap h2 {
    font-size: var(--font-mz);
    top: -6px;
  }

  /* !main monsterWrap monsterImgWrap */
  main .monsterWrap .monsterImgWrap {
    max-height: 300px;
  }

  main .monsterWrap .monsterImgWrap img {
    height: 300px;
  }

  /* !main monsterWrap monsterInfoWrap */
  main .monsterWrap .monsterInfoWrap h3 {
    font-size: var(--font-mz);
  }

  main .monsterWrap .monsterInfoWrap p {
    font-size: var(--font-mlz);
  }

  main .monsterWrap .monsterInfoWrap .detail {
    font-size: var(--font-smz);
  }

  /* !main monsterWrap monsterWeakWrap */
  main .monsterWrap .monsterWeakWrap strong {
    font-size: var(--font-smz);
  }

  main .monsterWrap .monsterWeakWrap table tr th img {
    width: 16px;
  }

  main .monsterWrap .monsterWeakWrap table tr td {
    font-size: var(--font-mlz);
  }

  main .monsterWrap .detail table tr th {
    width: calc(100% / 9);
  }

  main .monsterWrap .detail table tr td {
    width: calc(100% / 9);
  }

  /* !main monsterWrap monsterEcoWrap */
  main .monsterWrap .monsterEcoWrap p {
    font-size: var(--font-mlz);
  }

  main .monsterWrap .monsterEcoWrap p:not(:last-child) {
    margin-bottom: 14px;
  }

  main .monsterWrap .monsterRelateWrap ul {
    grid-template-columns: repeat(3, 1fr);
  }

  main .monsterWrap .monsterRelateWrap img {
    width: 16px;
    height: 16px;
  }

  main .monsterWrap .monsterRelateWrap a {
    font-size: var(--font-mlz);
  }
}

/* 노트북 */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  /* !header headerWrap */
  header .headerWrap {
    flex-grow: 0;
  }

  header .headerWrap h1 {
    font-size: 40px;
  }

  header .headerWrap .backLink {
    display: none;
  }

  header .headerWrap button {
    display: none;
  }

  /* !header searchWrap */
  header .searchWrap {
    flex-grow: 1;
    padding: 20px 200px;
    display: block;
    position: relative;
    top: 0;
    border: 0;
  }

  header .searchWrap .searchForm input {
    font-size: var(--font-lz);
  }

  header .searchWrap .searchForm button {
    right: 210px;
  }

  header .searchWrap .searchForm button img {
    width: 22px;
  }

  /* header searhcList */
  header .searchList {
    max-height: 360px;
  }

  header .searchList img {
    width: 50px;
  }

  header .searchList p {
    font-size: var(--font-lz);
  }

  /* !main monsterWrap */
  main section .monsterWrap {
    display: grid;
    grid-template-areas:
      "monsterImgWrap monsterInfoWrap"
      "monsterWeakWrap monsterWeakWrap"
      "monsterWeakDetailWrap monsterWeakDetailWrap"
      "monsterWeakDetailWrap monsterWeakDetailWrap"
      "monsterEcoWrap monsterEcoWrap"
      "monsterRelateWrap monsterRelateWrap";
    column-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }

  main section .monsterWrap > div:not(:last-child) {
    margin-bottom: 40px;
  }

  main section .monsterWrap h2 {
    font-size: var(--font-mlz);
    top: -7px;
  }

  /* !main monsterWrap monsterImgWrap */
  main .monsterWrap .monsterImgWrap {
    max-height: 400px;
    grid-area: monsterImgWrap;
  }

  main .monsterWrap .monsterImgWrap img {
    height: 400px;
  }

  /* !main monsterWrap monsterInfoWrap */
  main .monsterWrap .monsterInfoWrap {
    grid-area: monsterInfoWrap;
  }

  main .monsterWrap .monsterInfoWrap h3 {
    font-size: var(--font-mlz);
  }

  main .monsterWrap .monsterInfoWrap p {
    font-size: var(--font-lz);
  }

  main .monsterWrap .monsterInfoWrap .detail {
    font-size: var(--font-mz);
  }

  /* !main monsterWrap monsterWeakWrap */
  main .monsterWrap .monsterWeakWrap {
    grid-area: monsterWeakWrap;
  }

  main .monsterWrap .monsterWeakWrap strong {
    font-size: var(--font-mz);
  }

  main .monsterWrap .monsterWeakWrap table tr th img {
    width: 18px;
  }

  main .monsterWrap .monsterWeakWrap table tr td {
    font-size: var(--font-lz);
  }

  /* !main monsterWrap monsterWeakWrap */
  main .monsterWrap .detail {
    grid-area: monsterLiquidWeakWrap
  }

  main .monsterWrap .detail table tr th {
    width: calc(100% / 9);
  }

  main .monsterWrap .detail table tr td {
    width: calc(100% / 9);
  }

  /* !main monsterWrap monsterEcoWrap */
  main .monsterWrap .monsterEcoWrap {
    grid-area: monsterEcoWrap;
  }

  main .monsterWrap .monsterEcoWrap p {
    font-size: var(--font-lz);
  }

  main .monsterWrap .monsterEcoWrap p:not(:last-child) {
    margin-bottom: 16px;
  }

  main .monsterWrap .monsterRelateWrap {
    grid-area: monsterRelateWrap;
  }

  main .monsterWrap .monsterRelateWrap ul {
    grid-template-columns: repeat(4, 1fr);
  }

  main .monsterWrap .monsterRelateWrap img {
    width: 18px;
    height: 18px;
  }

  main .monsterWrap .monsterRelateWrap a {
    font-size: var(--font-lz);
  }

  /* !footer p */
  footer p {
    line-height: 100px;
  }
}

/* PC */
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  /* !header headerWrap */
  header .headerWrap {
    flex-grow: 0;
  }

  header .headerWrap h1 {
    font-size: 40px;
  }

  header .headerWrap .backLink {
    display: none;
  }

  header .headerWrap button {
    display: none;
  }

  /* !header searchWrap */
  header .searchWrap {
    flex-grow: 1;
    padding: 30px 300px;
    display: block;
    position: relative;
    top: 0;
    border: 0;
  }

  header .searchWrap .searchForm input {
    font-size: var(--font-xlz);
  }

  header .searchWrap .searchForm button {
    right: 310px;
  }

  header .searchWrap .searchForm button img {
    width: 22px;
  }

  /* header searhcList */
  header .searchList {
    max-height: 380px;
  }

  header .searchList img {
    width: 60px;
  }

  header .searchList p {
    font-size: var(--font-lz);
  }

  /* !main monsterWrap */
  main section .monsterWrap {
    display: grid;
    grid-template-areas:
      "monsterImgWrap monsterInfoWrap"
      "monsterWeakWrap monsterWeakWrap"
      "monsterWeakDetailWrap monsterWeakDetailWrap"
      "monsterWeakDetailWrap monsterWeakDetailWrap"
      "monsterEcoWrap monsterEcoWrap"
      "monsterRelateWrap monsterRelateWrap";
    column-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }

  main section .monsterWrap > div:not(:last-child) {
    margin-bottom: 40px;
  }

  main section .monsterWrap h2 {
    font-size: var(--font-lz);
    top: -7px;
  }

  /* !main monsterWrap monsterImgWrap */
  main .monsterWrap .monsterImgWrap {
    max-height: 400px;
    grid-area: monsterImgWrap;
  }

  main .monsterWrap .monsterImgWrap img {
    height: 400px;
  }

  /* !main monsterWrap monsterInfoWrap */
  main .monsterWrap .monsterInfoWrap {
    grid-area: monsterInfoWrap;
  }

  main .monsterWrap .monsterInfoWrap h3 {
    font-size: var(--font-lz);
  }

  main .monsterWrap .monsterInfoWrap p {
    font-size: var(--font-xlz);
  }

  main .monsterWrap .monsterInfoWrap .detail {
    font-size: var(--font-mlz);
  }

  /* !main monsterWrap monsterWeakWrap */
  main .monsterWrap .monsterWeakWrap {
    grid-area: monsterWeakWrap;
  }

  main .monsterWrap .monsterWeakWrap strong {
    font-size: var(--font-mlz);
  }

  main .monsterWrap .monsterWeakWrap table tr th img {
    width: 20px;
  }

  main .monsterWrap .monsterWeakWrap table tr td {
    font-size: var(--font-xlz);
  }

  /* !main monsterWrap monsterWeakWrap */
  main .monsterWrap .detail {
    grid-area: monsterWeakDetailWrap;
  }

  main .monsterWrap .detail table tr th {
    width: calc(100% / 9);
  }

  main .monsterWrap .detail table tr td {
    width: calc(100% / 9);
  }

  /* !main monsterWrap monsterEcoWrap */
  main .monsterWrap .monsterEcoWrap {
    grid-area: monsterEcoWrap;
  }

  main .monsterWrap .monsterEcoWrap p {
    font-size: var(--font-xlz);
  }

  main .monsterWrap .monsterEcoWrap p:not(:last-child) {
    margin-bottom: 18px;
  }

  main .monsterWrap .monsterRelateWrap {
    grid-area: monsterRelateWrap;
  }

  main .monsterWrap .monsterRelateWrap ul {
    grid-template-columns: repeat(5, 1fr);
  }

  main .monsterWrap .monsterRelateWrap img {
    width: 20px;
    height: 20px;
  }

  main .monsterWrap .monsterRelateWrap a {
    font-size: var(--font-xlz);
  }

  /* !footer p */
  footer p {
    line-height: 100px;
  }
}

/* 4k */
@media screen and (min-width: 1921px) {
  /* !header headerWrap */
  header .headerWrap {
    flex-grow: 0;
  }

  header .headerWrap h1 {
    font-size: 50px;
  }

  header .headerWrap .backLink {
    display: none;
  }

  header .headerWrap button {
    display: none;
  }

  /* !header searchWrap */
  header .searchWrap {
    flex-grow: 1;
    padding: 30px 400px;
    display: block;
    position: relative;
    top: 0;
    border: 0;
  }

  header .searchWrap .searchForm input {
    font-size: var(--font-xxxlz);
  }

  header .searchWrap .searchForm button {
    right: 410px;
  }

  header .searchWrap .searchForm button img {
    width: 24px;
  }

  /* header searhcList */
  header .searchList {
    max-height: 380px;
  }

  header .searchList img {
    width: 60px;
  }

  header .searchList p {
    font-size: var(--font-xxlz);
  }

  /* !main monsterWrap */
  main section .monsterWrap {
    display: grid;
    grid-template-areas:
      "monsterImgWrap monsterInfoWrap"
      "monsterWeakWrap monsterWeakWrap"
      "monsterWeakDetailWrap monsterWeakDetailWrap"
      "monsterWeakDetailWrap monsterWeakDetailWrap"
      "monsterEcoWrap monsterEcoWrap"
      "monsterRelateWrap monsterRelateWrap";
    column-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }

  main section .monsterWrap > div:not(:last-child) {
    margin-bottom: 40px;
  }

  main section .monsterWrap h2 {
    font-size: var(--font-xlz);
    top: -10px;
  }

  /* !main monsterWrap monsterImgWrap */
  main .monsterWrap .monsterImgWrap {
    max-height: 400px;
    grid-area: monsterImgWrap;
  }

  main .monsterWrap .monsterImgWrap img {
    height: 400px;
  }

  /* !main monsterWrap monsterInfoWrap */
  main .monsterWrap .monsterInfoWrap {
    grid-area: monsterInfoWrap;
  }

  main .monsterWrap .monsterInfoWrap h3 {
    font-size: var(--font-xxlz);
  }

  main .monsterWrap .monsterInfoWrap p {
    font-size: var(--font-xxlz);
  }

  main .monsterWrap .monsterInfoWrap .detail {
    font-size: var(--font-xlz);
  }

  /* !main monsterWrap monsterWeakWrap */
  main .monsterWrap .monsterWeakWrap {
    grid-area: monsterWeakWrap;
  }

  main .monsterWrap .detail table tr th {
    width: calc(100% / 9);
  }

  main .monsterWrap .detail table tr td {
    width: calc(100% / 9);
  }

  main .monsterWrap .monsterWeakWrap strong {
    font-size: var(--font-lz);
  }

  main .monsterWrap .monsterWeakWrap table tr th img {
    width: 20px;
  }

  main .monsterWrap .monsterWeakWrap table tr td {
    font-size: var(--font-xxxlz);
  }

  /* !main monsterWrap monsterEcoWrap */
  main .monsterWrap .monsterEcoWrap {
    grid-area: monsterEcoWrap;
  }

  main .monsterWrap .monsterEcoWrap p {
    font-size: var(--font-xxxlz);
  }

  main .monsterWrap .monsterEcoWrap p:not(:last-child) {
    margin-bottom: 18px;
  }

  main .monsterWrap .monsterRelateWrap {
    grid-area: monsterRelateWrap;
  }

  main .monsterWrap .monsterRelateWrap ul {
    grid-template-columns: repeat(6, 1fr);
  }

  main .monsterWrap .monsterRelateWrap img {
    width: 22px;
    height: 22px;
  }

  main .monsterWrap .monsterRelateWrap a {
    font-size: var(--font-xxlz);
  }

  /* !footer p */
  footer p {
    line-height: 100px;
  }
}
