.notice-section {
  width: 100%;
  min-height: 300px;
  margin-bottom: 40px;
}

.notice-section div {
  background-color: #fff;
  width: 100%;
  height: 300px;
  text-align: center;
  line-height: 300px;
}

.card-section {
  position: relative;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.card-section .control-panel {
  width: 200px;
  height: fit-content;
  position: sticky;
  top: 140px;
  left: 0;
  border: 2px solid var(--border-color);
  border-radius: 12px;
  box-sizing: border-box;
}

.control-list>li>div {
  width: 100%;
  border: none;
  padding: 5px 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: var(--main-color);
  color: #fff;
}

.control-list>li:first-child>div {
  border-radius: 10px 10px 0 0;
}

.series-list,
.type-list {
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.type-list li,
.series-list li {
  margin-bottom: 6px;
}

.series-list li {
  width: 80px;
}


input[type="checkbox"] {
  position: relative;
  width: 20px;
  height: 20px;
  background: var(--main-color);
  border-radius: 4px;
  appearance: none;
  cursor: pointer;
  margin-top: 3px;
}

input[type="checkbox"]:checked {
  background-color: var(--border-color);
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 6px;
  transform: rotate(45deg) scale(1);
  width: 4px;
  height: 12px;
  border: 4px solid transparent;
  border-left: none;
  border-top: none;
}

input[type="checkbox"]:checked::before {
  border-color: #fff;
  animation: checkanimate 0.2s ease;
}

@keyframes checkanimate {
  from {
    transform: rotate(45deg) scale(0);
  }
}

label {
  font-size: 18px;
  vertical-align: top;
  cursor: pointer;
}

.card-section .card-wrap {
  width: calc(100% - 220px);
}

.card-wrap .card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  box-sizing: border-box;
}

.card-list .card-item {
  width: 260px;
  min-height: 370px;
  padding: 24px 18px;
  border: 2px solid var(--border-color);
  border-radius: 20px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}

.card-list .card-item:hover {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    border: 2px solid var(--border-color);
    transition: all .5s;
    animation: clippath 3s infinite linear;
    border-radius: 20px;
  }

  &::after {
    animation: clippath 3s infinite -1.5s linear;
  }
}

@keyframes clippath {
  0%,
  100% {
    clip-path: inset(0 0 98% 0);
  }
  
  25% {
    clip-path: inset(0 98% 0 0);
  }
  50% {
    clip-path: inset(98% 0 0 0);
  }
  75% {
    clip-path: inset(0 0 0 98%);
  }
}


.card-item p {
  font-size: 17px;
  font-weight: bold;
}

.card-item img {
  width: 220px;
  height: 220px;
  aspect-ratio: 1 / 1;
  vertical-align: top;
  margin: 24px 0;
  background-color: var(--border-color);
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.card-item strong {
  font-size: 17px;
  font-weight: bold;
}