/* !모바일 */

/* header */
header .wrap {
  display: flex;
}

header .headerWrap {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .headerWrap h1 {
  font-size: 20px;
  font-weight: var(--font-ebw);
}

header .headerWrap button img {
  width: 20px;
  aspect-ratio: 1 / 1;
}

/* !header searchWrap */
header .searchWrap {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  max-height: 100px;
  padding: 30px 40px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  background-color: var(--sub-color);
  display: none;
}

header .searchWrap.active {
  display: block;
}

header .searchWrap .searchForm input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border-radius: 0;
  border: 1px solid var(--border-color);
  background-color: var(--main-color);
  font-size: var(--font-mz);
  font-weight: var(--font-bw);
}

header .searchWrap .searchForm input:focus {
  outline: none;
}

header .searchWrap .searchForm button {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
}

header .searchWrap .searchForm button img {
  width: 20px;
  aspect-ratio: 1 / 1;
}

header .searchList {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0 40px;
}

header .searchList li {
  padding: 10px 20px;
  background-color: var(--main-color);
  border: 1px solid var(--border-color);
  border-top: none;
}

header .searchList li a {
  display: flex;
  align-items: center;
  gap: 20px;
}

header .searchList img {
  width: 40px;
  aspect-ratio: 1 / 1;
}

header .searchList p {
  display: inline-block;
  font-size: var(--font-mz);
}

main {
  position: relative;
  overflow-y: auto;
}

main .wrap {
  display: flex;
  gap: 20px;
}

/* !main asideWrap */
main .asideWrap {
  width: 160px;
  height: calc(100vh - 80px);
  position: fixed;
  margin-left: -20px;
  background-color: var(--sub-color);
  display: none;
}

main .asideWrap.active {
  display: block;
}

main .asideWrap h2 {
  font-size: var(--font-mz);
  font-weight: var(--font-ebw);
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

main .asideWrap ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px 20px 20px;
  row-gap: 10px;
}

main .asideWrap ul li {
  display: flex;
  gap: 4px;
  align-items: center;
}

main .asideWrap label {
  font-size: var(--font-mz);
  font-weight: var(--font-bw);
}

main .asideWrap input {
  position: relative;
  width: 13px;
  height: 13px;
  background: var(--main-color);
  border: 1px solid var(--border-color);
  border-radius: 0;
  appearance: none;
  cursor: pointer;
}

main .asideWrap input:checked {
  background-color: var(--border-color);
}

main .asideWrap input:checked::before {
  content: "";
  position: absolute;
  top: 0;
  left: 3px;
  width: 3px;
  height: 6px;
  border: 3px solid #fff;
  transform: rotate(45deg) scale(1);
  border-left: none;
  border-top: none;
}

main section {
  flex-grow: 1;
}

main section .slideWrap {
  box-shadow: inset 0 0 10px orange;
  margin-bottom: 20px;
  width: 100%;
  min-height: 160px;
}

main section .cardWrap {
  margin-bottom: 20px;
}

main .cardWrap .warnResult {
  display: block;
  text-align: center;
  display: none;
  font-size: var(--font-mz);
  font-weight: var(--font-bw);
}

main .cardWrap .warnResult.active {
  display: block;
}

main .cardWrap ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

main .cardWrap article {
  border: 1px solid var(--border-color);
  background-color: var(--border-color);
  padding: 10px;
  text-align: center;
}

main .cardWrap article img {
  width: 100%;
  aspect-ratio: 1 / 1;
  margin: 10px 0;
}

main .cardWrap article p {
  font-size: var(--font-smz);
  font-weight: var(--font-ebw);
}

main .cardWrap article h3 {
  font-size: var(--font-mz);
}

/* !footer */
footer p {
  font-size: var(--font-mz);
  text-align: center;
  line-height: 80px;
}

/* 가로 모드 */
@media screen and (min-width: 700px) {
  main .asideWrap {
    position: fixed;
    min-height: calc(100vh - 80px);
    height: calc(100vh - 80px);
    overflow-y: auto;
  }
}

/* !mediaQuery */
/* 태블릿 */
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* !header headerWrap */
  header .headerWrap h1 {
    font-size: 30px;
  }
  
  header .headerWrap button img {
    width: 24px;
  }

  /* !header searchWrap */
  header .searchWrap {
    max-height: 120px;
    padding: 30px 120px;
  }

  header .searchWrap .searchForm input {
    font-size: var(--font-mlz);
  }

  header .searchWrap .searchForm button {
    right: 130px;
  }

  header .searchWrap .searchForm button img {
    width: 22px;
  }

  header .searchList {
    padding: 0 120px;
  }

  header .searchList li {
    padding: 10px 20px;
    background-color: var(--sub-color);
    border: 1px solid var(--border-color);
    border-top: none;
  }

  header .searchList img {
    width: 60px;
  }

  header .searchList p {
    font-size: var(--font-mlz);
  }

  /* !main asideWrap */
  main .asideWrap {
    width: 180px;
    margin-left: -60px;
  }

  main .asideWrap h2 {
    font-size: var(--font-mlz);
  }
  
  main .asideWrap label {
    font-size: var(--font-mlz);
  }
  
  main .asideWrap input {
    width: 15px;
    height: 15px;
  }
  
  main .asideWrap input:checked::before {
    top: 0;
    left: 4px;
    width: 3px;
    height: 7px;
    border: 3px solid #fff;
    border-left: none;
    border-top: none;
  }

  /* !main slideWrap */
  main section .slideWrap {
    min-height: 180px;
  }

  /* !main cardWrap */
  main .cardWrap .warnResult {
    font-size: var(--font-mlz);
  }

  main .cardWrap ul {
    grid-template-columns: repeat(3, 1fr);
  }

  main .cardWrap article p {
    font-size: var(--font-mz);
  }
  
  main .cardWrap article h3 {
    font-size: var(--font-mlz);
  }
}

/* 노트북 */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  /* !header headerWrap */
  header .headerWrap {
    flex-grow: 0;
  }

  header .headerWrap h1 {
    font-size: 40px;
  }

  header .headerWrap button {
    display: none;
  }
  
  /* !header searchWrap */
  header .searchWrap {
    flex-grow: 1;
    padding: 20px 200px;
    display: block;
    position: relative;
    top: 0;
    border: 0;
  }

  header .searchWrap .searchForm input {
    font-size: var(--font-lz);
  }

  header .searchWrap .searchForm button {
    right: 210px;
  }

  header .searchWrap .searchForm button img {
    width: 22px;
  }

  /* header searhcList */
  header .searchList {
    padding: 0 200px;
  }

  header .searchList img {
    width: 60px;
  }

  header .searchList p {
    font-size: var(--font-lz);
  }

  /* !main section */
  main section {
    width: calc(100% - 220px);
    margin-left: 220px;
  }

  /* !main asideWrap */
  main .asideWrap {
    width: 180px;
    position: fixed;
    min-height: calc(100vh - 200px);
    margin-left: 0;
    background-color: var(--main-color);
    display: block;
    z-index: 0;
    overflow-y: initial;
  }

  main .asideWrap h2 {
    font-size: var(--font-lz);
    border-top: none;
  }

  main .asideWrap ul {
    padding: 10px 20px 20px 10px;
  }
  
  main .asideWrap label {
    font-size: var(--font-lz);
  }
  
  main .asideWrap input {
    width: 17px;
    height: 17px;
  }
  
  main .asideWrap input:checked::before {
    top: 0;
    left: 4px;
    width: 4px;
    height: 8px;
    border: 3px solid #fff;
    border-left: none;
    border-top: none;
  }

  /* !main slideWrap */
  main section .slideWrap {
    min-height: 200px;
  }
  
  /* !main cardWrap */
  main .cardWrap .warnResult {
    font-size: var(--font-lz);
  }

  main .cardWrap ul {
    grid-template-columns: repeat(4, 1fr);
  }

  main .cardWrap article p {
    font-size: var(--font-mz);
  }
  
  main .cardWrap article h3 {
    font-size: var(--font-mlz);
  }

  /* !footer p */
  footer p {
    line-height: 80px;
  }
}

/* PC */
@media screen and (min-width: 1200px) {
  /* !header headerWrap */
  header .headerWrap {
    flex-grow: 0;
  }

  header .headerWrap h1 {
    font-size: 40px;
  }

  header .headerWrap button {
    display: none;
  }
  
  /* !header searchWrap */
  header .searchWrap {
    flex-grow: 1;
    padding: 30px 300px;
    display: block;
    position: relative;
    top: 0;
    border: 0;
  }

  header .searchWrap .searchForm input {
    font-size: var(--font-xlz);
  }

  header .searchWrap .searchForm button {
    right: 310px;
  }

  header .searchWrap .searchForm button img {
    width: 22px;
  }

  /* header searhcList */
  header .searchList {
    padding: 0 300px;
  }

  header .searchList img {
    width: 60px;
  }

  header .searchList p {
    font-size: var(--font-lz);
  }

  /* !main section */
  main section {
    width: calc(100% - 220px);
    margin-left: 220px;
  }

  /* !main asideWrap */
  main .asideWrap {
    width: 200px;
    position: fixed;
    min-height: calc(100vh - 200px);
    margin-left: 0;
    background-color: var(--main-color);
    display: block;
    overflow-y: initial;
    z-index: 0;
  }

  main .asideWrap h2 {
    font-size: var(--font-xlz);
    border-top: none;
  }

  main .asideWrap ul {
    padding: 10px 20px 20px 10px;
  }
  
  main .asideWrap label {
    font-size: var(--font-lz);
  }
  
  main .asideWrap input {
    width: 19px;
    height: 19px;
  }
  
  main .asideWrap input:checked::before {
    top: 0;
    left: 5px;
    width: 4px;
    height: 10px;
    border: 4px solid #fff;
    border-left: none;
    border-top: none;
  }

  /* !main slideWrap */
  main section .slideWrap {
    min-height: 200px;
  }

  /* !main cardWrap */
  main .cardWrap .warnResult {
    font-size: var(--font-xlz);
  }

  main .cardWrap ul {
    grid-template-columns: repeat(5, 1fr);
  }

  main .cardWrap article p {
    font-size: var(--font-mlz);
  }
  
  main .cardWrap article h3 {
    font-size: var(--font-lz);
  }

  /* !footer p */
  footer p {
    line-height: 100px;
  }
}