/* reset css */
@font-face {
  font-family: 'FUNFLOWSURVIVORKR';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/FUNFLOWSURVIVORKR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "FUNFLOWSURVIVORKR";
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
strong,
cite,
input {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

header {
  padding: 26px 0;
}
header h1 {
  font-size: 4rem;
  text-align: center;
  position: relative;
  padding: 20px;
}
header h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
  background: url(./img/조사단\ 이미지.png) no-repeat 50% 50% / 5%;
  z-index: -1;
}
header strong {
  font-size: 2rem;
  display: block;
  padding-left: 20px;
  text-align: center;
}

main {
  position: relative;
}

main .click-wrap {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

main .btn-list {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

main .btn-list ul {
  display: flex;
  gap: 20px;
}
main .btn-list button {
  font-family: "FUNFLOWSURVIVORKR";
}

main .list-wrap {
  padding: 0 20px 20px;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  background: #fff;
}

main .list-wrap .type-list,
main .list-wrap .work-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: fit-content;
  gap: 10px;
}

main .list-wrap label {
  font-size: 2rem;
  vertical-align: baseline;
  margin: 5px;
}

main .list-wrap label abbr {
  text-decoration: none;
}

main .monster-wrap {
  padding: 30px 10px;
}

.monster-wrap .monster-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.monster-list .monster-card {
  width: 340px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  overflow: hidden;
  background: url(./img/bg3.jpg) no-repeat 50% 50% / cover;
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.5s ease;
}

.monster-list .monster-card:hover {
  transform: scale(1.1);
  cursor: pointer;
  z-index: 1;
}

.monster-card .title-series {
  background: url(./img/bg.jpg) no-repeat 0 0 / cover;
  position: absolute;
  width: 200px;
  padding: 10px;
  top: 10px;
  left: -80px;
  transform: rotate(-45deg);
  text-align: center;
  z-index: 0;
  font-size: 1.8rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.monster-card h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}
.monster-card .fontStyle {
  background: linear-gradient(to top right , rgba(35,0,2,1), rgba(125,22,4,1), rgba(197,143,69,1));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.monster-card img {
  width: 300px;
  aspect-ratio: 300 / 300;
  vertical-align: top;
  border-radius: 10px 10px 0 0;
  display: inline-block;
  align-items: center;
  margin-bottom: 10px;
}
.monster-card .elements,
.monster-card .ailments {
  width: 30px;
  aspect-ratio: 30 / 30;
  vertical-align: top;
  margin: 0;
}

.monster-card .elementList {
  display: flex;
  justify-content: center;
  width: 100px;
  flex-wrap: wrap;
  position: absolute;
}

.monster-card .stateList {
  display: flex;
  justify-content: center;
  width: 100px;
  flex-wrap: wrap;
  position: absolute;
  right: 20px;
}

.monster-card .elements.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
.monster-card p {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.monster-card #size {
  font-size: 1rem;
}

.monster-card .detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 4rem;
  border-radius: 10px;
  transform: rotateY(180deg);
  overflow: auto;
  word-break: keep-all;
}

footer {
  padding: 20px;
  text-align: right;
  font-size: 1.8rem;
  position: absolute;
  top: 0;
  right: 0;
}



.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}